.hero{
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}

.hero-content{
    max-width: 700px;
}

.hero h1{
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p{
    font-size: 20px;
    margin-bottom: 30px;
}

.hero button{
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}